.btn {
    display: flex;
    width: max-content;
    padding: 24px;
    background-color: #c0c0c0;
    color: #000;
    border-radius: 16px;
    text-decoration: none;
}

.btn-primary {
    background-color: #0000ff;
    color: white;
}